body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.box {
    border: solid 1px black;
    padding: 20px 20px 20px 20px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}

.box h2 {
    margin: 0;
    color: rgb(105, 105, 244);
    font-size: 40px;
}

.time, .date {
    font-size: 20px;
    font-weight: bold;
}