*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

/*.container {
    display: grid;
    grid-template-rows: 80px auto 1fr auto 50px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    grid-template-areas:
        ".logo-box        .header          .navigation-menu"
        ".title           .title           .title"
        ".content         .content         .content"
        ".footer          .footer          .footer"
        ".footer          .footer          .footer";
    grid-gap: 10px;
    padding: 10px;
}*/

body {
    max-width: 2400px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    flex-wrap: wrap;
}

.logo-box {
    display: flex;
    align-items: center;
}

.profile {
    width: 80px;
    margin-right: 10px;
}

.navigation-menu p span a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 256px;
}

.title div > p:first-child {
    font-family: "Patrick Hand", cursive;
    font-size: 80px;
}

.title div > p:nth-child(2) {
    color: gray;
    font-size: 25px;
}

.content * {
    margin-bottom: 10px;
}

.content {
    display: flex;
    justify-content: space-between;

    border: #000 3px solid;
    margin-bottom: 50px;
}

.projects-section p,
.experience-section div,
.education-section div{
    padding: 0 20px;
}

.content h2 {
    font-family: "Patrick Hand", cursive;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 40px;
}

.content h3 {
    font-family: "Patrick Hand", cursive;
    font-size: 34px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.content a {
    text-decoration: none;;
}

.projects-section{
    border-right: #000 3px solid;
    width: 400px;
    min-width: 200px;
}
.projects-section p:not(:last-child){
    border-bottom: #000 3px solid;
}
.experience-section{
    border-right: #000 3px solid;
}
.experience-section div:not(:last-child){
    border-bottom: #000 3px solid;
}
.education-section{
    width: 800px;
    min-width: 300px;
}
.education-section li{
    list-style: none;
    padding-left: 0;
}

.education-section li::before {
    content: "-";
    margin-right: 8px;
}

.review-section h2{
    font-family: "Patrick Hand", cursive;
    padding: 0 20px;
    margin: 30px 0;
    font-size: 40px;
}

.review-container {
    display: flex;
    gap: 50px;
    max-width: 75%;
    margin: 0 auto;
}

.review-box {
    border: #000 3px solid;
    border-radius: 70px;
    padding: 40px 30px;
}

.review-box p:nth-child(2) {
    color: gray;
    margin-top: 30px;
}

footer {
    font-family: "Patrick Hand", cursive;
    margin: 50px;
    text-align: center;
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .logo-box{
        flex-direction: column;
        gap: 10px;
    }

    .navigation-menu {
        margin-top: 10px;
    }

    .title div p:first-child {
        font-size: 45px;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        border-bottom: none;
    }

    .projects-section, 
    .experience-section, 
    .education-section {
        border-right: none;
        border-bottom: 3px solid #000;
        min-width: auto;
        width: 100%;
        margin: 0;
    }

    .projects-section p,
    .experience-section div{
        background-color: rgb(194, 194, 194);
        margin: 0;
        padding: 10px 10px;
    }

    .experience-section div,
    .education-section div {
        text-align: left;
        padding-left: 30px;
    }

    .review-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 100%;
    }

    .review-box {
        width: 90%;
    }

    footer {
        font-size: 25px;
        margin: 20px 0;
    }

    .review-box:nth-child(2),
    .review-box:nth-child(3) {
        display: none;
    }
}
